@model IEnumerable<Appointment>
@{
	ViewData["Title"] = "Home Dashboard";
}

<link rel="stylesheet" href="pstyle.css">
<h2>Home Dashboard</h2>

	<div class="container" >

		<!-- APPOINTMENTS CALENDAR -->
		<div class=" col-md-7">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #28c574">
				<h3 class="panel-title"><strong>Appointments</strong></h3>
			</div>
			<div class="panel-body">
				<!-- Appointment view calender code -->
				Appointments view Calendar goes here <br>Lorem ipsum dolor sit amet, 
				consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
				exercitation ullamco laboris nisi ut aliquip ex ea commodo 
				consequat.
			</div>
			<ul>
				@foreach (var app in Model) {
					<li>@Html.DisplayFor(x => app.Date) @Html.DisplayFor(x => app.Service) <a asp-area="" asp-controller="Appointment" asp-Action="ViewApp" asp-route-id="@app.Id">Details</a></li>
				}
			</ul>
		</div>
		</div>
		 
		<!-- EMPTY SPACING BETWEEN PANELS -->
		<div class="col-md-1"></div>

		<!-- AGENDA -->
		<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #28c574">
				<h3 class="panel-title"><strong>Agenda</strong></h3>
			</div>
			<div class="panel-body">
			<!-- insert appointment code -->
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
				enim ad minim veniam, quis nostrud exercitation ullamco laboris 
				nisi ut aliquip ex ea commodo consequat.
			<!-- x -->
			</div>
		</div>
		</div>
		 
		<!-- MESSAGES -->
		<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #28c574">
				<h3 class="panel-title"><Strong>Messages</Strong></h3>
			</div>			
			<div class="panel-body">
				<!-- insert message code -->
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
				enim ad minim veniam, quis nostrud exercitation ullamco laboris 
				nisi ut aliquip ex ea commodo consequat.
				<!-- x -->
			</div>			
		</div>
		</div>

	</div>