@{
    ViewData["Title"] = "Home Dashboard";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="pstyle.css">
<h2>Home Dashboard</h2>


      <div class="w3-display-container" >
          <div class="w3-card-4" style="width:35%;">
              <!-- insert calender code -->
             <header class="w3-container w3-blue">
               <h3>Appointments</h3>
             </header>
         
             <div class="w3-container">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
             </div>
              <!-- x -->
          </div>
         
          <div class="w3-card-4 w3-display-topright" style="width:57%;">
             <header class="w3-container w3-red">
               <h3>Agenda</h3>
             </header>
              <!-- insert appointment code -->
             <div class="w3-container">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
             </div>
               <!-- x -->
          </div>
         
          <div class="w3-card-4 greencard" style="width:100%;">
           <header class="w3-container w3-green w3-center">
             <h3>Messages</h3>
           </header>
             <!-- insert message code -->
           <div class="w3-container">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           </div>
              <!-- x -->
          </div>
      </div>