.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
**/bin
**/appsettings.json
**/appsettings.development.json
**/obj
obj/SmartHealth.csproj.nuget.cache
obj/SmartHealth.csproj.nuget.g.props
obj/Debug/netcoreapp2.0/SmartHealth.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/SmartHealth.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/SmartHealth.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/SmartHealth.dll
obj/Debug/netcoreapp2.0/SmartHealth.pdb
bin/Debug/netcoreapp2.0/SmartHealth.deps.json
bin/Debug/netcoreapp2.0/SmartHealth.dll
bin/Debug/netcoreapp2.0/SmartHealth.pdb
bin/Debug/netcoreapp2.0/SmartHealth.runtimeconfig.dev.json
libwkhtmltox.dll
libwkhtmltox.dylib
libwkhtmltox.so