@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
    <img class="img-responsive" style= "width:30% height: auto;"src="~/images/doctorStethoscope.jpg" alt="Card image cap">
    <div class="panel-body">
      <h4>Doctor</h4>
      <p>Create Doctor Account</p>
      <a asp-area="" asp-controller="Account" class="btn btn-primary" asp-action="DoctorRegister">Doctor</a>
    </div>
    </div>
  </div>
  <div class="col-sm-6">
  <div class="panel panel-default">
    <img class="img-responsive" style= "width:30% height: auto;" src="~/images/patientThumbsUp.jpg" alt="Card image cap">
    <div class="panel-body">
      <h4>Patient</h4>
      <p>Create Patient Account</p>
      <a asp-area="" asp-controller="Account" class="btn btn-primary" asp-action="PatientRegister">Patient</a>
    </div>
  </div>
  </div>
</div>