@model IEnumerable<Appointment>
@{
	ViewData["Title"] = "Home Dashboard";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="pstyle.css">

<h2>Home Dashboard</h2><hr />

	<div class="container" >

		<!-- BASIC CALENDAR -->
		<div class=" col-md-7">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #28c574; color: #ffffff; font-size: 28px; font-family:Arial">
				Calendar
			</div>
			<div class="panel-body">
				<!-- insert calender code -->
				Basic calendar goes here <br>Lorem ipsum dolor sit amet, consectetur 
				adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
				exercitation ullamco laboris nisi ut aliquip ex ea commodo 
				consequat.
			</div>
			<ul>
				@foreach (var app in Model) {
					<li>@Html.DisplayFor(x => app.Date) @Html.DisplayFor(x => app.Service) <a asp-area="" asp-controller="Appointment" asp-Action="ViewApp" asp-route-id="@app.Id">Details</a></li>
				}
			</ul>
			<div class="panel-footer" style="background-color: #28c574; color: #ffffff; font-family: Arial">Footer</div>
		</div>
		</div>

		<!-- APPOINTMENTS LIST -->
		<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #28c574; color: #ffffff; font-size: 28px; font-family:Arial">
				Appointments
			</div>
			<div class="panel-body" style="overflow-y: scroll; height: 250px">
			<!-- insert appointment code -->
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Time</th>
						<th>Date</th>
					</tr>
					<tr>
						<td>Appointment Name 1</td>
						<td>3:45PM</td>
						<td>03/04/17</td>
					</tr>
					<tr>
						<td>Appointment Name 2</td>
						<td>3:45PM</td>
						<td>03/04/17</td>
					</tr>
					<tr>
						<td>Appointment Name 3</td>
						<td>3:45PM</td>
						<td>03/04/17</td>
					</tr>
					<tr>
						<td>Appointment Name 4</td>
						<td>3:45PM</td>
						<td>03/04/17</td>
					</tr>
					<tr>
						<td>Appointment Name 5</td>
						<td>3:45PM</td>
						<td>03/04/17</td>
					</tr>
					<tr>
						<td>Appointment Name 6</td>
						<td>3:45PM</td>
						<td>03/04/17</td>
					</tr>
					<tr>
						<td>Appointment Name 7</td>
						<td>3:45PM</td>
						<td>03/04/17</td>
					</tr>
				</table>
			<!-- x -->
			</div>
			<div class="panel-footer" style="background-color: #28c574; color: #ffffff; font-family: Arial"> Footer</div>
		</div>
		</div>
		 
		<!-- MESSAGES -->
		<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #28c574; color: #ffffff; font-size: 28px; font-family:Arial">
				Messages
			</div>			
			<div class="panel-body">
				<!-- insert message code -->
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
				enim ad minim veniam, quis nostrud exercitation ullamco laboris 
				nisi ut aliquip ex ea commodo consequat.
				<!-- x -->
			</div>	
			<div class="panel-footer" style="background-color: #28c574; color: #ffffff; font-family: Arial">Footer</div>		
		</div>
		</div>

	</div>