<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
       <title>Patient Profile</title>
       <link rel="stylesheet" href="pstyle.css">
       <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
       <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
       <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/font-awesome.min.css" />
  
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
  
    <body>
       <!-- Nav -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Smart Health <i class="glyphicon glyphicon-grain"></i></a>
          </div>
    <!--       <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi, Username <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Log Out</a></li>
              </ul>
            </li>
          </ul> -->
            <form class="navbar-form navbar-center" >
            <div class="search input-group" style="padding-left: 40px; width:40%">
              <input type="text" class="form-control" placeholder="Search for Spirits ...">
            
            <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
            </div>
          </form>
            
        </div>
      </nav>
  <!-- Nav ends -->
  <div class="header">
      <div class="row">
          <div class="col-lg-2 col-nd-3">
            <img class="img-responsive" src="sus.jpg" id="divprofile" alt="">
          </div>
          <div class="col-lg-3 col-nd-3">
            <h1>Patient Name</h1>
          </div>
      </div>
  </div>
  
  <section>
    <!-- Demographics and medical records -->
     <div class="row row1" > <!--style="background-color: blue;" style="background-color: yellow;"-->
      <div class="col-lg-7" >
          <div class="w3-card-4 ins" style="width: 670px;" >
            <header class="w3-container w3-blue">
              <h2>Demographics</h2>
            </header>
           <div class="w3-container">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           </div>
           <footer class="w3-container w3-blue">
             <h5>Footer</h5>
           </footer>
          </div>
          <!-- Insurance -->
          <div class="w3-card-4 ins" style="width: 670px;" >
            <header class="w3-container w3-blue">
              <h2>Insurance</h2>
            </header>
            <div class="w3-container">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <footer class="w3-container w3-blue">
             <h5>Footer</h5>
            </footer>
          </div>
  
          <!-- Account Settings -->
          <div class="w3-card-4 ins" style="width: 670px;" >
            <header class="w3-container w3-blue">
              <h2>Account Settings</h2>
            </header>
            <div class="w3-container">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <footer class="w3-container w3-blue">
             <h5>Footer</h5>
            </footer>
          </div>
      </div>
      <!-- Second column -->
      <div class="col-lg-5" > <!-- style="background-color: red;" -->
          <div class="w3-card-4 ins" style="width: 470px;" >
            <header class="w3-container w3-blue">
              <h2>Medical Records</h2>
            </header>
  
           <div class="w3-container">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           </div>
           <footer class="w3-container w3-blue">
             <h5>Footer</h5>
           </footer>
          </div>
      </div>
      
    </div> 
  
     <!--  -->
  </section>
  
  <footer  id="wrapper">
    <a href="#" class="btn btn-info"  role="button">Update Profile</a>
  </footer>
  </body>