<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
     <title>Patient UI</title>
     <link rel="stylesheet" href="pstyle.css">
     <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
     <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/font-awesome.min.css" />
    
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Smart Health <i class="glyphicon glyphicon-grain"></i></a>
        </div>

        <form class="navbar-form navbar-center">
          <div class="search input-group">
            <input type="text" class="form-control" placeholder="Search for Spirits ...">
          
          <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </div>
          </div>
        </form>  
      </div>
    </nav>

    <!-- Calender --> 
    <!-- <div class="w3-display-container">
      <div class="w3-card-4"  style="width:51%;">
       <header class="w3-container w3-blue">
        <select class="form-control" style="width:47%;">
          <option selected value='1'>January</option>
          <option value='2'>February</option>
          <option value='3'>March</option>
          <option value='4'>April</option>
          <option value='5'>May</option>
          <option value='6'>June</option>
          <option value='7'>July</option>
          <option value='8'>August</option>
          <option value='9'>September</option>
          <option value='10'>October</option>
          <option value='11'>November</option>
          <option value='12'>December</option>
        </select>
       </header>
       <div class="w3-container ">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
       </div>
      </div>
    </div> -->

      <div class="w3-display-container" >
          <div class="w3-card-4" style="width:57%;">
              <!-- insert calender code -->
             <header class="w3-container w3-blue">
               <h3>Calender</h3>
             </header>
         
             <div class="w3-container">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
             </div>
              <!-- x -->
          </div>
         
          <div class="w3-card-4 w3-display-topright" style="width:35%;">
             <header class="w3-container w3-red">
               <h3>Appointments</h3>
             </header>
              <!-- insert appointment code -->
             <div class="w3-container">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
             </div>
               <!-- x -->
          </div>
         
          <div class="w3-card-4 greencard" style="width:100%;">
           <header class="w3-container w3-green w3-center">
             <h3>Messages</h3>
           </header>
             <!-- insert message code -->
           <div class="w3-container">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           </div>
              <!-- x -->
          </div>
      </div>
         
  </body>